<ul>
<li><a routerLink="byName" >Name</a></li>
<li><a routerLink="population" >Population</a></li>
<li><a routerLink="area" >Area</a></li>
<li><a routerLink="globalStats" >Global Stats</a></li>
<li><a routerLink="neighbors" >Neighbors</a></li>
<li><a routerLink="maxLang" >max Languges</a></li>
<li><a routerLink="capital" >Capital</a></li>
<li><a routerLink="timeZone" >Time Zone (UTC)</a></li>
<li><a routerLink="lanLat" >Lan - Lat</a></li>
<li><a routerLink="callingCode" >Calling Code</a></li>
<li><a routerLink="favorits" >Favorits</a></li>
</ul>